# 0.1 Importing libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

# 0.2 Importing data files

In [2]:
#Setting path
path = r'C:\Users\skhra\DataAnalytics\Feb2025_InstacartBasketAnalysis'

In [3]:
#Importing latest orders.csv 
df_ord = pd.read_csv(os.path.join(path, '02- Data', 'PreparedData', 'orders_prepared.csv'), index_col = 0)

In [4]:
#Importing orders_products_prior.csv
df_ord_prior = pd.read_csv(os.path.join(path, '02- Data', 'OriginalData', 'orders_products_prior.csv'), index_col = False)

Checking files

In [5]:
df_ord_prior.shape

(32434489, 4)

In [6]:
df_ord.shape

(3421083, 6)

In [35]:
df_ord.head(5)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_from_previous_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [36]:
df_ord_prior.head(5)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [38]:
#Checking datatypes
df_ord_prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

Checking shapes

In [12]:
df_ord.shape

(3421083, 6)

In [13]:
df_ord_prior.shape

(32434489, 4)

# 0.3 Merging datasets

In [24]:
df_merged_large = df_ord.merge(df_ord_prior, on = 'order_id', how = 'outer', indicator = True)

In [25]:
df_merged_large

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_from_previous_order,product_id,add_to_cart_order,reordered,_merge
0,1,112108,4,4,10,9.0,NaN,NaN,NaN,left_only
1,2,202279,3,5,9,8.0,33120.0,1.0,1.0,both
2,2,202279,3,5,9,8.0,28985.0,2.0,1.0,both
3,2,202279,3,5,9,8.0,9327.0,3.0,0.0,both
4,2,202279,3,5,9,8.0,45918.0,4.0,1.0,both
...,...,...,...,...,...,...,...,...,...,...
32640693,3421083,25247,24,2,6,21.0,39678.0,6.0,1.0,both
32640694,3421083,25247,24,2,6,21.0,11352.0,7.0,0.0,both
32640695,3421083,25247,24,2,6,21.0,4600.0,8.0,0.0,both
32640696,3421083,25247,24,2,6,21.0,24852.0,9.0,1.0,both
32640697,3421083,25247,24,2,6,21.0,5020.0,10.0,1.0,both

In [26]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [40]:
df_merged_large.dtypes

order_id                       int64
user_id                        int64
order_number                   int64
order_day_of_week              int64
order_hour_of_day              int64
days_from_previous_order     float64
product_id                   float64
add_to_cart_order            float64
reordered                    float64
_merge                      category
dtype: object

In [41]:
#Merging using inner join
df_merged_large_inner = df_ord.merge(df_ord_prior, on = 'order_id', how = 'inner')

In [42]:
df_merged_large_inner.head(5)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_from_previous_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [43]:
df_merged_large_inner.dtypes

order_id                      int64
user_id                       int64
order_number                  int64
order_day_of_week             int64
order_hour_of_day             int64
days_from_previous_order    float64
product_id                    int64
add_to_cart_order             int64
reordered                     int64
dtype: object

In [44]:
#Exporting pickle file
df_merged_large_inner.to_pickle(os.path.join(path, '02- Data', 'PreparedData', 'order_products_combined.pkl'))